@model System.Collections.Generic.IEnumerable<ASP_NET_Core_MVC_Level_1.ViewModels.EmployeeView>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployees</title>
</head>
<body>
<h1>@ViewBag.SomeData</h1>
<h2>@ViewData["test"]</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>SurName</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.SecondName</td>
        </tr>
    }
    </tbody>
</table>
<hr/>
<ul>
    @foreach (var emp in Model)
    {
        <li>@emp.Name</li>;
    }
</ul>

</body>
</html>